/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

/* Header */
header {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 60px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 70px;
}
.img {
  height:170px ;
  margin-left: 45px;
}
.logo .sub {
  font-size: 14px;
  color: #e33a3a;
  font-weight: 600;
}

/* Navigation */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-left: 350px;
  margin-top: 20px;
  
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: #ff4d4d;
}

/* Buttons */
.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 30px;
}

.btn-outline {
  border: 1px solid white;
  color: white;
  text-decoration: none;
  padding: 14px 13px;
  border-radius: 25px;
  font-weight: normal;
  transition: background 0.3s;
}
.btn-outline:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-red {
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  padding: 16px 13px;
  border-radius: 25px;
  font-weight: 600;
  transition: background 0.3s;
}
.btn-red:hover {
  background-color: #cc0000;
}
